@charset "UTF-8";
    .slick-slide {
      margin: 0px 15px;
    }
    /*.slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }*/
